<u><h2>All Registered Physicians</h2></u>
<% @doctors.each do |doctor| %>
  <p>
    <b><%= link_to "Dr. #{doctor.full_name}", doctor_path(doctor) %></b>
    <br>
- <i><%= link_to doctor.specialty.name, specialty_path(doctor.specialty) %></i>
  </p>
<% end %>
